name: Generate Pac-Man Graph

on:
  # Run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *" 
  
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:
  
  # Run on every push on the master branch
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      # This step checks out your code so the action can access it
      - uses: actions/checkout@v3

      # This step generates the Pac-Man SVG
      - name: Generate Pac-Man
        uses: k-8/github-readme-pacman@master
        with:
          username: SilentFURY-x
          # IMPORTANT: If you want to count private commits (fruits), 
          # you must create a Personal Access Token (PAT) and use it here.
          # Otherwise, use ${{ secrets.GITHUB_TOKEN }} for public only.
          github_token: ${{ secrets.GITHUB_TOKEN }} 

      # This step pushes the generated SVG to your 'output' branch
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
