name: Generate Pac-Man Graph

on:
  # Run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *" 
  
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:
  
  # Run on every push on the master branch
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      # Generates the Pac-Man graph from your contributions
      - name: generate-github-profile-summary-cards
        uses: k-8/github-readme-pacman@master
        with:
          username: ${{ github.repository_owner }}
          # This is the token. See Step 2 below if you have private commits!
          github_token: ${{ secrets.GITHUB_TOKEN }} 

      # Pushes the generated SVG file to the "output" branch
      - name: push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
